.header_bg
{
    width: 100vw;
    height: 100px;
    background: #222226;
    position: fixed;
    top: 0px;
    left: 0px;
}

.logo
{
    filter: invert(8%) sepia(6%) saturate(1134%) hue-rotate(201deg) brightness(99%) contrast(87%);
    width: 100px;
    height: 100px;
}

a:link 
{
    color: white; text-decoration: none;
}

a:visited 
{
    color: white; text-decoration: none;
}

a:hover 
{
    color: rgb(183, 249, 17); text-decoration: none;
}

a:active 
{
    color: rgb(183, 249, 17); text-decoration: none;
}

.navmenu
{
    font-weight: bolder;
    background: #222226;
    /*font-size: 20px;*/
    float: right;
    margin-top: 70px;
    margin-right: 25px;
    font-size: 1.5vh;
}

@media only screen and (min-width: 800px) {
    .card_bg
    {
        height: 37.0vh;
    }
}

.card_header
{
    text-align: center;
    color: #343A40;
    font-weight: bolder;
}

.card_desc
{
    margin-top: 30px;
    margin-left: 15px;
    text-align: center;
    color: #7C8994;
    font-weight: bolder;
}

.card_img {
    vertical-align: middle;
    border-style: none;
    float: right;
    width: 36.4vw;
    height: 37.0vh;
}

@media only screen and (max-width: 800px) {
    .card_img
    {
        border-style: none;
        float: right;
        width: 95vw;
        height: 37.0vh;
    }
}

.card_left {
    float: left;
}

.td_img
{
    width: 100px;
    height: 100px;
}

td
{
    padding-left: 80px;
    text-align: center;
}

h1
{
    text-align: center;
}

@media only screen and (min-width: 800px) {
    .text {
        height: 70%;
        top: 50%;
        transform: translate(0%, 50%);
    }
}