.header_bg
{
    width: 100vw;
    height: 8vh;
    background: #222226;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.logo
{
    filter: invert(8%) sepia(6%) saturate(1134%) hue-rotate(201deg) brightness(99%) contrast(87%);
    width: 8vh;
    /*height: 8vh;*/
}

a:link 
{
    color: white; text-decoration: none;
}

a:visited 
{
    color: white; text-decoration: none;
}

a:hover 
{
    color: rgb(183, 249, 17); text-decoration: none;
}

a:active 
{
    color: rgb(183, 249, 17); text-decoration: none;
}

.navmenu
{
    font-weight: bolder;
    background: #222226;
    /*font-size: 20px;*/
    float: right;
    /*margin-top: 70px;*/
    margin-top: 6.2vh;
    margin-right: 25px;
    font-size: 1.5vh;
}

.rest
{
    height: 37.0vh;
}

.rest_h2
{
    text-align: center;
    color: #343A40;
    font-weight: bolder;
}

.text {
    height: 70%;
    top: 50%;
    transform: translate(0%, 50%);
}

.rest_p
{
    margin-top: 30px;
    margin-left: 15px;
    text-align: center;
    color: #7C8994;
    font-weight: bolder;
}

.rest_img
{
    vertical-align: middle;
    border-style: none;
    float: right;
    width: 36.4vw;
    height: 37.0vh;
}

@media only screen and (max-width: 800px) {
    .rest_img
    {
        border-style: none;
        float: right;
        width: 95vw;
        height: 37.0vh;
    }
}

.fit
{
    height: 37.0vh;
}

.fit_h2
{
    text-align: center;
    color: #343A40;
    font-weight: bolder;
}

.fit_p
{
    margin-top: 30px;
    margin-left: 15px;
    text-align: center;
    color: #7C8994;
    font-weight: bolder;
}

.fit_img
{
    vertical-align: middle;
    border-style: none;
    float: left;
    width: 36.4vw;
    height: 37.0vh;
}

@media only screen and (max-width: 800px) {
    .fit_img
    {
        border-style: none;
        float: left;
        width: 95vw;
        height: 37.0vh;
        display: flex;
        justify-content: center;
    }
}

.pool
{
    height: 37.0vh;
}

.pool_h2
{
    text-align: center;
    color: #343A40;
    font-weight: bolder;
}

.pool_p
{
    margin-top: 30px;
    margin-left: 15px;
    text-align: center;
    color: #7C8994;
    font-weight: bolder;
}

.pool_img
{
    vertical-align: middle;
    border-style: none;
    float: right;
    width: 36.4vw;
    height: 37.0vh;
}

@media only screen and (max-width: 800px) {
    .pool_img
    {
        border-style: none;
        float: right;
        width: 95vw;
        height: 37.0vh;
        display: flex;
        justify-content: center;
    }
}

.td_img
{
    width: 100px;
    height: 100px;
}

td
{
    padding-left: 80px;
    text-align: center;
}

h1
{
    text-align: center;
}

/* table {
    position: absolute;
    right: 50%;
    transform: translate(50%, 0%);
}

@media only screen and (max-width: 800px) {
    table {

    }
} */